a
{
	color:red;
	text-decoration: none;
}
h1
{

	font-family: sans-serif;

}
div
{
	
	width: 500px;
	margin: auto;
	text-align: center;
}
.quotations
{
	border: 1px solid white;
}
html
{
	background: gray;
}